<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buy and Sell</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!--  Main-layout-override.css -->
  <link rel="stylesheet" href="/styles/main-layout-override.css" />
  <!-- admin.css -->
  <link rel="stylesheet" href="/styles/admin.css">
  <!-- index.css -->
  <link rel="stylesheet" href="/styles/index.css">
  <!-- navigation.css -->
  <link rel="stylesheet" href="/styles/navigation.css">
  <!-- footer.css -->
  <link rel="stylesheet" href="/styles/footer.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <!-- Navigation partial view -->
  <%- include('partials/_navigation') %>

  <!-- Admin Welcome Banner -->
  <section class="admin-heading-container">
    <h1 class="admin-welcome-banner">Welcome, Kash 👋</h1>
  </section>



  <!-- Create listing -->
  <Section class="create-listing-container">
    <div class="new-listing">
      <h3 class="new-listing-label">Create New Listing</h3>
      <a class="button" href="/create">Create Listing</a>
    </div>
  </Section>

  <!-- Manage Existing Listings -->
  <div class="admin-heading-container">
    <h3 class="new-listing-label">Manage Your Listings</h3>
  </div>
  <section class="manage-listings-container">
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
    <div class="listing-card">
      <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
      <div class="title-price-container">
        <h4 class="listing-card-title">Art Deco Dining Chair</h4>
      </div>
      <button class="manage-listing-sold">Mark As Sold</button>
      <button class="manage-listing-delete">Delete</button>
    </div>
  </section>

   <!-- Manage Messages -->
   <div class="admin-heading-container">
    <h3 class="new-listing-label">Manage Your Messages</h3>
   </div>

   <section class="admin-messages-container">
    <div class="message">
      <div>
        <h3 class="user">User 1</h3>
        <p>This is a test message</p>
      </div>
      <div>
        <button class="button">Reply</button>
        <button class="button">Archive</button>
      </div>
    </div>
   </section>


  <!-- Footer partial view -->
  <%- include('partials/_footer') %>

</body>

</html>
