<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!--  Main-layout-override.css -->
  <link rel="stylesheet" href="/styles/main-layout-override.css" />
  <!-- admin.css -->
  <link rel="stylesheet" href="/styles/admin.css">
  <!-- index.css -->
  <link rel="stylesheet" href="/styles/index.css">
  <!-- navigation.css -->
  <link rel="stylesheet" href="/styles/navigation.css">
  <!-- footer.css -->
  <link rel="stylesheet" href="/styles/footer.css">
  <!-- user-profile.css -->
  <link rel="stylesheet" href="/styles/user-profile.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <!-- Navigation partial view -->
  <%- include('partials/_navigation') %>

 <!-- User Favourites Section -->
  <section class="favourites-container">
    <h1 class="user-favourites-title">Your Favourites</h1>

     <!-- favourites grid view -->
     <div class="favourites-grid-container">
      <div class="favourites-card">
        <img class="favourites-card-image" src="https://images.pexels.com/photos/11591876/pexels-photo-11591876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <div class="title-price-container">
          <h3 class="favourites-card-title">PS5 Controller</h3>
          <p class="favourites-card-price">$69.90</p>
        </div>
        <button class="favourites-card-view">View</button>
     </div>
     <div class="favourites-card">
      <img class="favourites-card-image" src="https://images.pexels.com/photos/1067556/pexels-photo-1067556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      <div class="title-price-container">
        <h3 class="favourites-card-title">A pretty cool painting</h3>
        <p class="favourites-card-price">$40.00</p>
      </div>
      <button class="favourites-card-view">View</button>
     </div>
     <div class="favourites-card">
      <img class="favourites-card-image" src="https://images.pexels.com/photos/13789945/pexels-photo-13789945.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      <div class="title-price-container">
        <h3 class="favourites-card-title">Tennis Racket</h3>
        <p class="favourites-card-price">$30.35</p>
      </div>
      <button class="favourites-card-view">View</button>
     </div>
    </div>
     <!--user messages section-->
     <div class="messages-container">
      <h3 class="messages-title">Your Messages</h3>

     <div class="message-reply-box">
      <h2 class="test-user">Test User</h2>
      <p>To infinity and beyond!</p>
     <button class="reply-button">Reply</button>

     </div>
     <div class="message-reply-box">
      <h2 class="test-user">Test User 2</h2>
      <p>Theres a snake in my boot!</p>
     <button class="reply-button">Reply</button>
     </div>


  </section>
  <!-- Footer partial view -->
  <%- include('partials/_footer') %>

</body>

</html>
