<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buy and Sell</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!--  Main-layout-override.css -->
  <link rel="stylesheet" href="/styles/main-layout-override.css" />
  <!-- view-all-products.css -->
  <link rel="stylesheet" href="/styles/view-all-products.css">
  <!-- Layout.css -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- navigation.css -->
  <link rel="stylesheet" href="/styles/navigation.css">
  <!-- footer.css -->
  <link rel="stylesheet" href="/styles/footer.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Navigation partial view -->
  <%- include('partials/_navigation') %>

  <!-- Popular Products Section -->
  <section class="listings-container">

    <div class="listings-heading-container">
      <h3 class="listings-title">All Products</h3>
      <div class="dropdown">
        <button class="dropbtn">Filter Price</button>
        <div class="dropdown-content">
          <a href="#">Lowest</a>
          <a href="#">Highest</a>
        </div>
      </div>
    </div>
    <!-- Listings grid -->
    <div class="listings-cards-container">
      <!-- First Row -->
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Art Deco Dining Chair</h4>
          <p class="listing-card-price">$79.44</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/9646747/pexels-photo-9646747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Floating Cabinet</h4>
          <p class="listing-card-price">$219.99</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/1067556/pexels-photo-1067556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">A pretty cool painting</h4>
          <p class="listing-card-price">$40.00</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>

      <!-- Second Row -->
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/12163946/pexels-photo-12163946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">2018 Hyundai car</h4>
          <p class="listing-card-price">$20,400</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/11591876/pexels-photo-11591876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">PS5 Controller</h4>
          <p class="listing-card-price">$69.90</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/3101767/pexels-photo-3101767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Gently used succulent</h4>
          <p class="listing-card-price">$6.50</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>

      <!-- third Row -->
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/5720724/pexels-photo-5720724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Cacti Trio</h4>
          <p class="listing-card-price">$20.00</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/13789945/pexels-photo-13789945.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Tennis Racket</h4>
          <p class="listing-card-price">$30.35</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
      <div class="listing-card">
        <img class="listing-card-image"src="https://images.pexels.com/photos/9646751/pexels-photo-9646751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chair">
        <div class="title-price-container">
          <h4 class="listing-card-title">Plectric piano</h4>
          <p class="listing-card-price">$350.00</p>
        </div>
        <button class="listing-card-view">View</button>
      </div>
    </div>
  </section>

  <!-- Footer partial view -->
  <%- include('partials/_footer') %>
</body>

</html>
